body {
  margin: 0;
  padding: 0;
  background-color: rgb(253, 251, 251);
  padding-top: 100px;
}

header {
  position: fixed;
  top: 0%;
  background-color: green;
  width: 100%;
  padding: 10px 16px;
}

#tabela {
  border: 3px solid black;
  align-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
  color: rgb (35, 32, 30);
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  line-height: 15px;
}

table , th , td {
  border: 1px solid black;
  border-collapse: collapse;
}

th , td {
  padding: 10px;
}

.lado-esquerdo {
  margin-left: 15px;
  width: 50%;
  display: inline;
  float: left;
}

.lado-direito {
  width: 40%;
  display: inline;
  float: right;
}

#artigos {
  display: inline-block;
  align-content: center;
}

p {
  margin-left: 10px;
}

h1 , h2 , h3 {
  margin-left: 20px;
}
